.likes_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.likes_row {
  display: flex;
  align-items: center;
  gap: 12px;
}

button {
  padding: 8px 16px;
  cursor: pointer;
}

.reset_btn {
  margin-top: 16px;
  background-color: crimson;
  color: white;
  border: none;
}
