.input_container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.input_label {
  font-size: 14px;
  color: #333;
}

.input_field {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
